
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container .top-con{
   margin-right: 300px;
    
}
h4{
    margin-right: 500px;
    font-size: 20px;
    padding: 0px 0px;
}
.suggestion-box {
    margin-top:10px;
}
textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}
.back-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}
.back-button:hover {
    background-color: #0056b3;
}